In [19]:
import pandas as pd
import numpy as np

read_csv() Method

In [20]:
salariesDf = pd.read_csv('../data/salaries.csv', header=0, skiprows=[1])
salariesDf.set_index('playerID', inplace=True)
salariesDf

           yearID teamID lgID    salary
playerID
bedrost01    1985    ATL   NL    550000
benedbr01    1985    ATL   NL    545000
campri01     1985    ATL   NL    633333
ceronri01    1985    ATL   NL    625000
chambch01    1985    ATL   NL    800000
...           ...    ...  ...       ...
treinbl01    2015    WAS   NL    512800
ugglada01    2015    WAS   NL    507500
werthja01    2015    WAS   NL  21000000
zimmejo02    2015    WAS   NL  16500000
zimmery01    2015    WAS   NL  14000000

[25574 rows x 4 columns]

Indexing and Selecting Data

In [21]:
condition = (salariesDf['teamID'].isin(['ATL', 'HOU'])) & (salariesDf['salary'] > 1000000)
filtered_data = salariesDf.loc[condition].index

print(filtered_data)

Index(['hornebo01', 'murphda05', 'suttebr01', 'ryanno01', 'hornebo01',
       'murphda05', 'suttebr01', 'ryanno01', 'griffke01', 'murphda05',
       ...
       'feldmsc01', 'gonzama01', 'gregelu01', 'lowrije01', 'neshepa01',
       'quallch01', 'rasmuco01', 'singljo02', 'sippto01', 'valbulu01'],
      dtype='object', name='playerID', length=595)

In [22]:
condition = (salariesDf['teamID'] == 'ATL')
teamATL_data = salariesDf.loc[condition]
#print( teamATL_data['salary'].describe() )

mean = teamATL_data['salary'].describe()['mean']
maximum = teamATL_data['salary'].describe()['max']
minimum = teamATL_data['salary'].describe()['min']

quartile_1 = teamATL_data['salary'].describe()['25%']
median = teamATL_data['salary'].describe()['50%']
quartile_3 = teamATL_data['salary'].describe()['75%']

std_dev = teamATL_data['salary'].describe()['std']

'''print(mean)
print(maximum)
print(minimum)
print(quartile_1)
print(median)
print(quartile_3)
print(std_dev)'''

'print(mean)\nprint(maximum)\nprint(minimum)\nprint(quartile_1)\nprint(median)\nprint(quartile_3)\nprint(std_dev)'

In [23]:
dic = {'yearID': [], 'teamID': [], 'lgID': [], 'salary': []}

indexName = salariesDf.index.name

#creating empty dictionary with header values
dic[indexName] = []
for columnName in salariesDf.columns.tolist():
    dic[columnName] = []

#filling data using iterrows()
for row in salariesDf.iterrows():
    dic[indexName].append(row[0])
    
    for columnName in salariesDf.columns.tolist():
        dic[columnName].append(row[1][columnName])

In [24]:
df = pd.DataFrame.from_dict(dic)
df.rename(columns={"a": "yearID", "b": "teamID", "c": "lgID", "d": "salary", "e": "playerID"}, axis=1, errors="raise")

TypeError: Cannot specify both 'axis' and any of 'index' or 'columns'

# Numpy

In [ ]:
l1 = [ [[1,2,3], [4,5,6]], [[11,12,13],[14,15,16]] ]
l2 = [1,2,3,4,5,6]
np_arr = np.array(l1, dtype=np.float64)

print("Ndim - " + str(np_arr.ndim))
print("Shape - " + str(np_arr.shape))
print("L2 Shape - " + str(np.array(l2).shape))
print("Size - " + str(np_arr.size))
print("Item Size - " + str(np_arr.itemsize)) #gives size of an individual arrayy, say [1,2,3] in bytes
print("dtype - " + str(np_arr.dtype))

print("size - " + str(np_arr.data))

In [ ]:
l1 = [ [[1,2,3], [4,5,6]], [[11,12,13],[14,15,16]] ]
npArr = np.array(l1)
f = npArr.flatten()
x = np.reshape(npArr, (1,12))
f.shape

# Matplotlib

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
r = np.arange(0,10, 0.1)

x = np.linspace(-5, 5, num=20)
y = np.array([j ** 2 for j in x])


#x = [20, 40, 60, 80, 100, 120, 140]
#y = [10, 11, 12, 13, 14, 15, 16]

z = np.sin(r)

plt.plot(x, y, ":", label="Sqaure Plot Dotted")
plt.plot(z, "-.", label="Sine Curve")
plt.title("HMW - 0 PLOT")
plt.xlabel("X-Axis")
plt.ylabel("Y-Axis")
plt.grid(color='black', linestyle=':', linewidth=1)
plt.legend()

plt.show()

In [ ]:
x = np.linspace(-5, 5, num=20)
np.random.shuffle(x)
y = np.array([j ** 2 for j in x])

plt.plot(x, y, ":", label="Random Plot Dotted")
plt.text(-1, 20, r'Random x array')

In [ ]:
x = np.linspace(-5, 5, num=20)
y1 = np.array([j for j in x])
y2 = np.array([j ** 2 for j in x])
y3 = np.array([j ** 3 for j in x])

plt.subplot(2,3,1)
plt.plot(x, y1, ":", label="Y1 Plot Dotted")
plt.text(0, 4, r'$y = x$')


plt.subplot(2,3,2)
plt.plot(x, y2, "-.", label="Y1 Plot Dotted")
plt.text(0, 20, r'$y = x^2$')

plt.subplot(2,3,3)
plt.plot(x, y3, "-", label="Y1 Plot Dotted")
plt.text(0, 50, r'$y = x^3$')

In [ ]:
x = np.linspace(-5, 5, num=20)
y1 = np.array([j for j in x])
y2 = np.array([j ** 2 for j in x])
y3 = np.array([j ** 3 for j in x])

plt.plot(x, y1, ":", label="Y1 Plot Dotted")
plt.text(0, 4, r'$y = x$')

plt.plot(x, y2, "-.", label="Y1 Plot Dotted")
plt.text(0, 20, r'$y = x^2$')

plt.plot(x, y3, "-", label="Y1 Plot Dotted")
plt.text(0, 50, r'$y = x^3$')

plt.show()

In [ ]:
x = np.linspace(-5, 5, num=20)
y1 = np.array([j for j in x])
y2 = np.array([j ** 2 for j in x])
y3 = np.array([j ** 3 for j in x])

fig, ax = plt.subplots(1, 3, figsize=(8,4), gridspec_kw={'width_ratios': [1, 3, 4]})
fig.tight_layout()

ax[0].plot(x, y1, color='red')
ax[0].title.set_text("Linear")
ax[0].title.set_size(10)
ax[0].title.set_family("cursive")

ax[1].plot(x, y2, color='blue')
ax[1].title.set_text("Quadratic")
ax[1].title.set_size(15)
ax[1].title.set_family("serif")

ax[2].plot(x, y3, color="green")
ax[2].title.set_text("Cube")
ax[2].title.set_size(20)
ax[2].title.set_family("fantasy")

In [ ]:
x = np.linspace(-5, 5, num=20)
y = np.array([j ** 2 for j in x])

plt.yscale("log")
plt.xscale("log")
plt.plot(x,y)